@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn-gradient {
    @apply bg-gradient-to-br from-orange-300 to-blue-700;
  }
  .wallet-select {
    @apply font-medium rounded-3xl text-sm mb-4 h-10 !important;
  }
  .auth-step {
    @apply mt-12 mx-12 w-8/12 py-8 border-2 rounded-md text-center bg-slate-800;
  }
  .loading-spinner {
    @apply ease-linear border-t-blue-400 animate-spin rounded-full border-gray-600;
  }
}
